<style>
.landing {

    height: 2000px;
    background-image: url('https://localhost:7059/img/marissa-grootes-ck0i9Dnjtj0-unsplash.jpg'); 
    background-position: center;
    background-size: cover; 
    background-repeat:no-repeat;
    background-attachment: scroll;
} 
</style>
<div class="landing">
    <div class="card bg-light mb-3" style="max-width: 20rem; position: absolute; top: 100px; left: 100px">
        <div class="card-header">⠀</div>
            <div class="card-body">
            <h4 class="card-title">Wellcome</h4>
            <p class="card-text">Glad to see you on the landing page of the project created by Marie Stenenko.</p>
        </div>
    </div>
     <div class="card bg-light mb-3" style="max-width: 20rem; position: absolute; top: 210px; left: 460px">
        <div class="card-header">⠀</div>
            <div class="card-body">
            <h4 class="card-title">Purposes</h4>
            <p class="card-text">The project is a service for organizing and taking notes. Its is currently under development, but you can already take advantage of the opportunities it has.</p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 20rem; position: absolute; top: 350px; left: 100px">
        <div class="card-header">⠀</div>
            <div class="card-body">
            <h4 class="card-title">Current features</h4>
            <p class="card-text">
                Already today on this service you can create your password-protected account. All notes can be displayed in two views: as a calendar and as a file system.
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 20rem; position: absolute; top: 460px; left: 460px">
        <div class="card-header">⠀</div>
            <div class="card-body">
            <h4 class="card-title">Calendar</h4>
            <p class="card-text">
                In the calendar, notes are represented by a table with dates. This can be handy for those who like to plan ahead or keep a diary. The advantage of this tool over paper media is obvious - it is always at your disposal and it will never run out of space.
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 20rem; position: absolute; top: 620px; left: 100px">
        <div class="card-header">⠀</div>
            <div class="card-body">
            <h4 class="card-title">File System</h4>
            <p class="card-text">
                Another way to organize notes is the file system. It is good when you want to create notes with a hierarchy. Some benchmarks don't support this feature, but we don't want to limit our users in any way - you know what's best.
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 20rem; position: absolute; top: 785px; left: 460px">
        <div class="card-header">⠀</div>
            <div class="card-body">
            <h4 class="card-title">Text Editor</h4>
            <p class="card-text">
                The note editor works according to the WYSIWYM (What You See Is What You Mean) paradigm. The user sets only the logical structure of the document and the actual content. The execution of the document, its final appearance is assigned to a separate software. This approach expands your editing possibilities without limit, allowing you to realize any fantasy.
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 20rem; position: absolute; top: 915px; left: 100px">
        <div class="card-header">⠀</div>
            <div class="card-body">
            <h4 class="card-title">Future</h4>
            <p class="card-text">
                At the moment, I am working to ensure that as many features as possible are available to you in the future. In particular, improving security by adding an authentication step and a system for encrypting your personal data. Also, search and sorting of notes will soon be available. I also find artificial intelligence a good addition to your experience.
            </p>
        </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 20rem; position: absolute; top: 1180px; left: 460px;">
        <div class="card-header">⠀</div>
            <div class="card-body">
            <h4 class="card-title">Contacts</h4>
            <p class="card-text">
                If you are interested in the development of this project, you can email mariefrostova2001@gmail.com
            </p>
        </div>
    </div>
</div>
