@{
    ViewData["Title"] = "Settings";
}
<h1>@ViewData["Title"]</h1>

<p>Settings:</p>
<ul>
  <li>Setting1</li>
  <li>Setting2</li>
  <li>Setting3</li>
</ul>
<a type="button" class="btn btn-secondary" asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>